.PokemonList__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

/* Variables selon le type */

.bug {
    background-color: #e3f99d;
}
.electric {
    background-color: #ffffbd;
}
.dark {
    background-color: #755e6a;
}
.dragon {
    background-color: #e49ced;
}
.fairy {
    background-color: #ffc5ce;
}
.fighting {
    background-color: #c7e0a0;
}
.fire {
    background-color: #f4b9e1;
}
.ghost {
    background-color: #f071ae;
}
.grass {
    background-color:#E2F9E1;
}
.ground {
    background-color: #f4d1b9;
}
.ice {
    background-color: #93cee9;
}
.normal {
    background-color: #ffc5ba;
}
.poison {
    background-color: #ffaeae;
}
.psychic {
    background-color: #f4e9b9;
}
.rock {
    background-color: #a5d9a4;
}
.steel {
    background-color: #c7c7c7;
}
.water {
    background-color: #98eef3;
}

.PokemonList__name {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.PokemonList__img {
    width: 120px;
    height: 120px;
    -o-object-fit: cover ;
       object-fit: cover ;
    margin: 1rem;
}

.PokemonList__type {
    text-transform: capitalize ;
    
}