* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #fe7295;
  font-weight: 700;
  padding-top: 1rem;
}

body {
  background-color: #ffe5e5;
  
}

